body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

form {
  margin-top: 50px;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #222;
  color: #fff;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border: 1px solid #8ACE00;
  box-shadow: 0 0 5px rgba(140, 206, 0, 0.7);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00aaff;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #008fcc;
  box-shadow: 0 4px 10px rgba(140, 206, 0, 0.7);
}

button:focus {
  outline: none;
  border: 2px solid #8ACE00;
}

img {
  display: block;
  max-width: 50%;
  margin: 20px auto;
  border-radius: 8px;
}

.tile {
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative; /* Ajout de la position relative pour gérer le mouvement */
}

.tile:hover {
  transform: scale(1.02); /* Effet de zoom subtil (2%) */
  box-shadow: 0 12px 24px rgba(140, 206, 0, 0.7); /* Ombre verte accentuée */
}

h1 {
  color: #00aaff;
}

h2 {
  margin-bottom: 10px;
}

label {
  display: block;
  margin: 10px 0;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  color: #ffa500;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(3);
}

video.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Assure que la vidéo reste en arrière-plan */
}

.final-message {
  font-size: 30px;
  color: #8ACE00;
  font-weight: bold;
  margin-top: 40px;
}
.question-mark {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  color: #8ACE00;
  background-color: #121212;
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.question-mark:hover {
  color: #fff;
  background-color: #8ACE00;
}

/* Style pour l'image qui sera affichée */
.photo {
  display: none;
  margin-top: 50px;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}